.key {
    display: inline-block;
    vertical-align: top;
    width: 30px;
    height: 150px;
    box-shadow: 0 1px 1px #888;
    z-index: 1;
}

    .key_black {
        width: 18px;
        height: 90px;
        background: #000;
    }

    .key_black {
        margin: 0 -9px;
    }

    .key_left {
        margin: 0 -7.5px 0 -10.5px;
    }

    .key_right {
        margin: 0 -10.5px 0 -7.5px;
    }

    .key_active {
        padding-top: 2px;
        z-index: 0;
    }
