.keyboard {
	white-space: nowrap;
	font: 0/0 a;
}

.octave {
	display: inline-block;
	width: 30px;
	padding-right: 180px;
}

.key {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 100%;
	padding-bottom: 500%;
	box-shadow: 0 1px 1px #888;
	z-index: 1;
}
.key_black {
	width: 60%;
	padding-bottom: 300%;
	background: #000;
}

.key_black {
	margin: 0 -30%;
}

.key_left {
	margin: 0 -25% 0 -35%;
}

.key_right {
	margin: 0 -35% 0 -25%;
}

.key_active {
	box-shadow: 0 0 2px 2px #f00;
	padding-top: 5%;
	z-index: 0;
}